name: auto_refresh_on_reconnect_example
description: Example app for auto_refresh_on_reconnect package
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  auto_refresh_on_reconnect:
    path: ../
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
